body {
    font-family: 'Roboto', sans-serif;
}


/*main */

.h1, h1 {
    font-size: 34px;
    margin-bottom: 25px;
}

p {
    margin: 0 0 19px;
    line-height: 120%;
}

ol, ul {
    list-style: none;
}

footer ol, ul {
    margin: 0;
    padding: 0;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.abs {
    position: absolute;
}

.relat {
    position: relative;
}

.inline {
    display: inline-block;
}

.col-xs-no_m {}

.container-fix-top {
    position: fixed;
    width: 100%;
    z-index: 999;
    background: #fff;
    opacity: 0.9;
    /* max-width: 1170px; */
    /* margin: 0 auto; */
}


/* Шапка */

header {
    padding: 2px 0;
    max-width: 1170px;
    margin: 0 auto;
}

header .top_menu_icon {
    cursor: pointer;
    left: -20px;
    position: relative;
}

header .top_menu_icon:hover+ .top_menu {
    display: block;
}

header .top_menu {
    display: none;
    z-index: 999;
    color: #fff;
    width: 185px;
    right: 48%;
    padding-top: 6px;
}

header .top_menu:hover {
    display: block;
}

header .top_menu_item0 {
    background: url(../img/q_menu1.png) top left no-repeat;
    height: 16px;
}

header .top_menu_item {
    background: url(../img/q_menu2.png) top left repeat-y;
    padding: 6px 34px;
}

header .top_menu_item a, header .top_menu_item a:visited {
    color: #fff;
}

header .block-logo {
    float: left;
    display: block;
}

header .block-logo a {
    text-transform: uppercase;
    text-decoration: none;
    color: #2C6731;
    font-weight: 500;
    position: relative;
    display: block;
}

header .block-logo a:hover {
    color: #2C6731;
}

header .block-logo a .logo-title {
    position: absolute;
    left: 87px;
    right: 0;
    top: 54px;
    display: block;
    width: 245px;
    height: 24px;
    line-height: 24px;
    font-size: 17px;
}

header .logo {
    display: block;
    background: url(../img/logotip.png) 0 0 no-repeat;
    width: 322px;
    height: 74px;
}

header .block-email, header .block-phone {
    display: block;
    float: right;
    margin-left: 30px;
    font-size: 20px;
}

header .block-email {
    background: url(../img/mail.png) 0 center no-repeat;
    padding: 24px 0 24px 42px;
}

header .block-email .mail {
    color: #000000 !important;
    font-size: 20px;
    text-decoration: none;
}

header .block-email .mail:hover {
    text-decoration: underline;
}

header .block-phone {
    background: url(../img/tel.png) 0 center no-repeat;
    padding: 11px 0 11px 42px;
}

header .block-phone .phone-number {
    display: block;
    width: 100%;
}

header .btn-recall {
    color: #F1BD09;
    font-size: 18px;
    cursor: pointer;
    position: relative;
    top: -3px;
    letter-spacing: 0.75px;
}

.slider-fluid {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    padding-top: 50px;
    text-align: center;
    margin: 0 auto;
}

.row_owl {}

.item_owl {}

.item_owl_text {
    bottom: 72px;
    color: #fff;
    right: 42px;
    background: #84C178;
    padding: 12px;
    width: 33%;
    opacity: 0.9;
    text-align: left;
}

.cats_news_head {
    padding: 11px 0px;
}

.cats_news {
    padding: 1px 0;
}

.cats_news a, .cats_news a:visited {
    color: #84C178;
    padding: 5px 12px;
    display: inline-block;
    margin: 7px;
}

.cats_news .active {
    background: #84C178;
    color: #fff;
}

.cats_news_split {}

.cats_news_items {
    padding: 49px 0;
    width: 100%;
    /* height: 500px; */
    text-align: center;
}

.cats_news_items:after {
    content: '';
    display: block;
    clear: both;
}

.cats_news_item {
    float: left;
    width: 32%;
    /* height: 200px; */
    background: #0D8;
    /* border: 2px solid #333; */
    /* border-color: hsla(0, 0%, 0%, 0.7); */
    margin-right: 10px;
    margin-bottom: 10px;
}

.cats_news_item-sizer {
    width: 32%;
    /* height: 200px; */
}

.cats_news_item img {
    width: 100%;
    display: block;
    /* max-height: 100%; */
}

.grid-item--width2 {
    width: 200px;
}

.grid-item--height2 {
    height: 200px;
}

.cats_news_header {
    color: #fff;
    top: 10px;
    left: 10px;
    border: 1px solid #fff;
    padding: 5px 10px;
    width: auto;
}

.cats_news_header_single {
    padding: 15px 0 0 0;
}

.cats_news_header_single span {
    color: #59bc5e;
    top: 10px;
    left: 10px;
    border: 1px solid #59bc5e;
    padding: 5px 10px;
    width: auto;
}

.cats_news_text {
    bottom: 10px;
    left: 10px;
    color: #fff;
    font-size: 18px;
}

.cats_news_in_header {
    display: none;
}

.cats_news_in_header a, .cats_news_in_header a:visited {
    font-size: 13px;
    padding: 5px 4px;
    margin: 8px 0;
}

.container-single {
    max-width: 840px;
    margin: 0 auto;
    padding-bottom: 40px;
}


/* Подвал */

.footer-fluid {
    background: #59bc5e;
}

footer {
    background: #59bc5e;
    z-index: 4;
    font-weight: 300;
    color: #fff;
    /* height: 360px; */
    overflow: hidden;
    position: relative;
    /* min-width: 1180px; */
    padding-bottom: 20px;
}

footer .up {
    font-size: 14px;
    padding: 50px 0 25px;
}

footer .col1 {
    float: left;
    width: 25%;
    padding-left: 15px;
}

footer .col2 {
    float: left;
    width: 21%;
}

footer .col3 {
    float: left;
    width: 26%;
}

footer .col4 {
    float: left;
    width: 18%;
}

footer .col5 {
    float: left;
    width: 9%;
}

footer a {
    color: inherit;
    text-decoration: none;
}

footer .up .title {
    padding-bottom: 20px;
}

footer .up .title a {
    font-size: 16px;
}

footer .up ul {}

footer .up ul li {
    margin-bottom: 3px;
    line-height: 21px;
}

footer .copy {
    float: left;
    width: 315px;
    margin-right: 70px;
    line-height: 1.6;
    font-size: 14px;
    padding-left: 15px;
}

footer .copy a.ua {
    font-size: 16px;
    line-height: 30px;
    display: block
}

footer .dws {
    float: left;
}

footer .dws img {
    margin-right: 7px;
    float: left;
    padding: 15px 0;
}

footer .cards-link {
    float: left;
    padding: 15px 0;
    margin-left: 45px;
}

footer .copy small {
    display: block;
    padding: 10px 0 0;
    font-size: 14px;
}

footer .socs {
    float: right;
    padding-right: 17px;
}

footer .socs img {
    margin-left: 17px;
}

@media(max-width:1200px) {
    footer .col1 {
        float: left;
        width: 25%;
        padding-left: 15px;
    }
    footer .col2 {
        float: left;
        width: 21%;
    }
    footer .col3 {
        float: left;
        width: 26%;
    }
    footer .col4 {
        float: left;
        width: 18%;
    }
    footer .col5 {
        float: left;
        width: 9%;
    }
    footer .copy {
        float: left;
        width: 315px;
        margin-right: 70px;
        line-height: 1.6;
        font-size: 14px;
        padding-left: 15px;
    }
    footer .socs {
        /* float: left; */
    }
    footer .cards-link {
        float: right;
        margin-left: 0;
        padding-right: 17px;
    }
}

@media(max-width:992px) {
    .cats_news_item {
        width: 48%;
    }
    .cats_news_item-sizer {
        width: 48%;
    }
    .owl-carousel .owl-item img {
        display: block;
        width: 250%!important;
    }
    footer a {
        font-size: 12px
    }
    footer .up .title a {
        font-size: 14px;
    }
    footer .col1 {}
    footer .col2 {
        width: 20%;
    }
    footer .col3 {
        width: 23%;
    }
    footer .col4 {}
    footer .col5 {
        width: 12%;
    }
    footer .dws {
        float: right;
        padding-right: 9px;
    }
    footer .socs {
        /* float: left; */
        height: 69px;
        clear: both;
        float: none;
        text-align: center;
    }
}

@media(max-width: 768px) {
    .col-xs-no_m1 {
        width: 50%;
        text-align: left;
    }
    .col-xs-no_m2 {
        width: 50%;
        text-align: right;
    }
    header .top_menu {
        right: 25px;
        /* left: 0; */
    }
    footer .up .title a {
        font-size: 18px;
        margin-top: 15px;
    }
    footer .col1 {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }
    footer .col2 {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }
    footer .col3 {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }
    footer .col4 {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }
    footer .col5 {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }
    footer .dws {
        float: right;
        padding-right: 9px;
    }
    footer .socs {
        height: 69px;
    }
    footer .dws img {
        text-align: center;
        margin-bottom: 0px;
        float: none;
        margin-right: 0px;
    }
    footer .dws, footer .copy, footer .cards-link {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
        float: none;
    }
}

@media(max-width:450px) {
    .cats_news_item {
        width: 99%;
    }
    .cats_news_item-sizer {
        width: 99%;
    }
}
